:root {
    --cellHeight: 10vw;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-weight: 700;
    font-size: 8vw;
    table-layout: fixed;
    height: var(--cellHeight);
    width: var(--cellHeight);
    cursor: pointer;
    background-color: black;
    color: white;
}

#gameBoard {
    text-align: center;
}

#scoreBoard {
    display: flex;
    z-index: 0;
}

#infoPanel {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

#computerMode {
    font-size: 20px;
}

.player {
    border: 1px solid black;
    flex: 1;
    cursor: pointer;
    margin: 10px 10px;
    box-sizing: border-box;
    z-index: 200;
    border-radius: 20px;
    margin: 10px 80px;
    background-color: rgba(255, 255, 255, 0.35);
}

.centered {
    margin: auto;
}

.button {
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: lightblue;
}

.btnSmall {
    font-size: 15px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    background-color: #000;
    margin: auto;
    width: 100%;
    height: 30%;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 999;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}
  
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.smallText {
    font-size: 25px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media only screen and (max-width: 600px) {
    :root {
        --cellHeight: 25vw;
    }

    tr {
        height: var(--cellHeight);
    }
    
    td {
        width: var(--cellHeight);
        font-size: 20vw;
    }
}
